<footer class="footer">
  <div class="container footer__container">
    <div class="footer__inner">
      <div class="social">
        <a href="https://github.com/ConquerBlocks/" class="social__link">
          <img src="/icons/social/icon-github.svg" alt=""></a>
        <a href="https://x.com/ConquerBlocks" class="social__link">
          <img src="/icons/social/icon-twitter.svg" alt=""></a>
        <a href="https://es.linkedin.com/company/conquer-x" class="social__link">
          <img src="/icons/social/icon-linkedin.svg" alt=""></a>
        <a href="https://www.youtube.com/channel/UCY6ncOO-7C107IR3E63EDBw" class="social__link">
          <img class="youtube" src="/icons/social/icon-youtube.svg" alt=""></a>
      </div>
      <p class="footer__text">
        © Conquer Blocks 2026 - 
        <a href="pages/aviso-legal.html">Aviso Legal</a>
      </p>
    </div>
  </div>
</footer>