<header class="header">
  <div class="container header__container">
    <div class="header__inner">

      <figure class="header__logo">
        <a href="/">
          <img 
            src="/logo-Conquer-Blocks.avif" 
            alt="Logotipo de Conquer Blocks"
            width="250"
          />
        </a>
      </figure>

      <button class="header__toggle" aria-label="Abrir menú" aria-expanded="false" aria-controls="site-navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <nav id="site-navigation" class="header__nav">
        <ul class="header__menu">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/pages/quienes-somos.html">Quienes somos</a></li>
          <li><a href="/pages/cursos.html">Cursos</a></li>
          <li><a href="/pages/blog.html">Blog</a></li>
          <li><a href="/pages/registro.html">Registro</a></li>
          <li><a href="/pages/login.html">Login</a></li>
          <li><a href="/pages/contacto.html">Contacto</a></li>
        </ul>

        <div class="header__social">
          <a href="https://github.com/ConquerBlocks/" class="social__link">
            <img src="/icons/social/icon-github.svg" alt=""></a>
          <a href="https://x.com/ConquerBlocks" class="social__link">
            <img src="/icons/social/icon-twitter.svg" alt=""></a>
          <a href="https://es.linkedin.com/company/conquer-x" class="social__link">
            <img src="/icons/social/icon-linkedin.svg" alt=""></a>
          <a href="https://www.youtube.com/channel/UCY6ncOO-7C107IR3E63EDBw" class="social__link">
            <img class="youtube" src="/icons/social/icon-youtube.svg" alt=""></a>
        </div>
      </nav>
      
      <div class="header__overlay"></div>

    </div>
  </div>
</header>
  