@use '../abstracts/tokens' as t;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;

  

  padding: 0.875rem 1.5rem;
  border-radius: 8px;

  font-weight: 600;
  text-decoration: none;

  border: none;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}


.btn--primary {
  background-color: t.$color-background-button;
  color: t.$color-text-secondary;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
  }
}