@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: t.$space-sm t.$space-md;
  border-radius: 12px;

  font-weight: t.$fw-medium;
  text-decoration: none;

  border: none;
  cursor: pointer;

  transition: t.$transition-base;
}

/*  PRIMARY – Marca */

.btn--primary {
  background-color: t.$color-primary;
  color: t.$color-text-primary;
  font-weight: t.$fw-bold;

  &:hover {
    transform: translateY(-2px);
    background-color: t.$color-background-button;
    color: t.$color-text-secondary;
    filter: brightness(0.95);
  }
}

/*  SECONDARY – Oscuro */

.btn--secondary {
  background-color: t.$color-background-button;
  color: t.$color-text-secondary;

  &:hover {
    background-color: t.$color-primary;
    color: t.$color-text-primary;
  }
}

/* Full width */

.btn--block {
  width: 100%;
}


/* ================= TABLET ================= */

@include m.breakpoint(tablet) {

  .btn--primary {
    font-size: t.$fs-body-xl;

  }

}





/* ================= DESKTOP ================= */