@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.card {
  display: flex;
  flex-direction: column;
  height: 100%   ;
  

  background-color: t.$color-background-primary;
  border-radius: 12px;
  overflow: hidden;

  
  &__media {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: t.$space-sm;

    padding: t.$space-md;
  }

  &__title {
    font-size: t.$fs-heading-s;
    font-weight: t.$fw-bold;
    color: t.$color-text-primary;
    text-align: center;
  }

  &__text {
    font-size: t.$fs-body-m;
    line-height: t.$lh-body-l;
    color: t.$color-text-primary;
  }

  &__extra {
    display: none;
  }

}


/* ================= TABLET ================= */

@include m.breakpoint(tablet) {

  .card {
    border: 1px solid t.$color-background-button;
    box-shadow: 0 8px 24px t.$color-background-secondary;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
    &__body {
      margin-top: auto;  
    }


    &__title {
      font-size: t.$fs-body-l;
    }

    &__text {
      font-size: t.$fs-body-l;
    }

    &__extra {
      display: none;
    }

  }

}

/* ================= TABLET HORIZONTAL ================= */

@include m.breakpoint(tablet-h) {

 
}


/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {
  
  .card {
    max-width: 100%;
    margin: 0; 
    align-items: center;

    
    &__title {
      font-size: t.$fs-body-l;
    }

    &__text {
      font-size: t.$fs-body-m;
    }
    
  }

}

