@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.content {

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    order: 1;
    flex-direction: column;
    gap: t.$space-sm;
  }

  &__title {
    font-size: t.$fs-heading-m;
    line-height: t.$lh-heading-m;
    font-weight: t.$fw-bold;
    color: t.$color-text-primary;
    padding-bottom: t.$space-sm;
    text-align: center;
  }

  &__intro {
    order: 3;
    font-size: t.$fs-body-l;
    line-height: t.$lh-body-l;
    color: t.$color-text-primary;
    padding-bottom: t.$space-sm;
  }

  &__list {
    display: flex;
    order: 2;
    flex-direction: column;
    gap: t.$space-lg;
  }

  &__footer {
    order: 4;
    margin-bottom: t.$space-md;
  }

  &__more {
    font-size: t.$fs-body-l;
    font-weight: t.$fw-medium;
    text-decoration: none;
    color: t.$color-primary;

    transition: t.$transition-base;

    &:hover {
      opacity: 0.8;
    }
  }
}

.content__cta {
  font-weight: t.$fw-bold;
  padding: t.$space-md;
}


/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  .content {
    padding-block: t.$space-lg;

    &__intro {
      order: 2;
      font-size: t.$fs-body-2xl;
      line-height: t.$lh-body-xl;
    }

    &__list {
      order: 3;
      gap: t.$space-xl;
      padding-bottom: t.$space-xl;
    }
  }
  
}



/* ================= DESKTOP ================= */