@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.content {

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    order: 1;
    flex-direction: column;
    gap: t.$space-sm;
  }

  &__title {
    font-size: t.$fs-heading-m;
    line-height: t.$lh-heading-l;
    font-weight: t.$fw-bold;
    color: t.$color-text-primary;
    padding-bottom: t.$space-sm;
    text-align: center;
  }

  &__intro {
    order: 3;
    font-size: t.$fs-body-m;
    line-height: t.$lh-body-l;
    color: t.$color-text-primary;
    padding-bottom: t.$space-sm;
  }

  &__list {
    display: grid;
    order: 2;
    gap: t.$space-lg;
    justify-content: center;
  }

  &__footer {
    order: 4;
    margin-bottom: t.$space-md;
  }

  &__more {
    font-size: t.$fs-body-m;
    font-weight: t.$fw-medium;
    text-decoration: none;
    color: t.$color-primary;

    transition: t.$transition-base;

    &:hover {
      opacity: 0.8;
    }
  }
}

.content__cta {
  font-weight: t.$fw-bold;
  padding: t.$space-md;
}


/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  .content {
    padding-block: t.$space-lg;

    &__inner {
      width: 100%;
      max-width: 960px;
      margin-inline: auto;
    }

    &__intro {
      order: 2;
      font-size: t.$fs-body-xl;
      line-height: t.$lh-body-xl;
    }

    &__list {
      order: 3;
      grid-template-columns: repeat(2, minmax(280px, 450px));
      gap: t.$space-xl;
      justify-content: center;
      padding-bottom: t.$space-xl;
    }
  }
  
}


/* ================= TABLET HORIZONTAL ================= */

@include m.breakpoint(tablet-h) {

  .content {
  
    &__list {
      width: 100%;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 420px));
      justify-content: center;
      gap: t.$space-xl;
        
    }

    
  }
}


/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {

  .content {
    padding-top: t.$space-md;
    margin-bottom: t.$space-xl;
    
       
    &__intro {
      font-size: t.$fs-body-l;
    }

    &__list {
      width: 100%;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 380px));
      justify-content: center;
      gap: t.$space-xl;
    }

    &__footer {
      width: 100%;
    }
  }

}

/* ================= DESKTOP XL ================= */

@include m.breakpoint(desktop-xl) {

  .content {

    &__inner {
      max-width: 1240px;
    }

    &__intro {
      font-size: t.$fs-body-l;
    }

    &__list {
      grid-template-columns: repeat(2, minmax(0, 560px));
      gap: t.$space-xl;
    }

  }

}