@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;


.cta {
  padding-top: 0;
}

.cta__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: t.$space-md;
}

.cta__title {
  display: none;
}

.cta__button {
  align-self: center;
}

/* ================= TABLET ================= */

@include m.breakpoint(tablet) {

  .cta {
    background: t.$color-background-secondary;
    color: t.$color-text-secondary;
    padding: 5rem 0;
    text-align: center;

    &__inner {
      max-width: 800px;
      
    }

    &__text {
      font-size: t.$fs-body-l;
    }
  }

  .cta__content {
    max-width: 720px;
    margin-inline: auto;
  }

  .cta__title {
    display: block;
  }
}



/* ================= DESKTOP ================= */