@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;


.form {
  margin-bottom: t.$space-xl;

  &__field {
    position: relative;
    margin-bottom: t.$space-lg;
  }

  &__label {
    display: block;
    font-size: t.$fs-body-m;
    font-weight: t.$fw-medium;
  }

  &__input,
  &__textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid t.$color-text-primary;
    font-size: t.$fs-body-m;
    line-height: t.$lh-body-l;
    color: t.$color-text-primary;
    outline: none;
    transition: border-color t.$transition-base;
  }

  &__input:focus,
  &__textarea:focus {
    border-bottom: 1px solid t.$color-primary;
  }

  /* Validation */

  &__input:invalid:not(:placeholder-shown),
  &__textarea:invalid:not(:placeholder-shown) {
    border-bottom: 1px solid t.$color-error;
  }

  &__error {
    display: none;
    position: absolute;
    right: 0;
    bottom: -18px;
    font-size: 12px;
    color: t.$color-error;
  }

  &__input:invalid:not(:placeholder-shown) + .form__error,
  &__textarea:invalid:not(:placeholder-shown) + .form__error {
    display: block;
  }

  &__actions {
    margin-top: t.$space-lg;
    display: flex;
    gap: t.$space-md;
    justify-content: center;
  }

}