@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;


.hero {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: t.$space-lg;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: t.$space-md;
  }

  &__title {
    font-size: t.$fs-heading-m;
    line-height: t.$lh-heading-l;
    font-weight: t.$fw-medium;
  }

  &__extra {
    display: none;
  }

  &__brand {
    display: block;
    font-size: t.$fs-heading-m;
    font-weight: t.$fw-bold;
  }

  &__text {
    display: none;
  }

  &__media {
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      display: block;
      max-width: 380px;
      margin-inline: auto;
    }
  }
}

/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  .hero__text {
    display: block;
  }

  .hero__extra {
    display: inline;
  }

  .hero__brand {
    display: inline;
  }
}


/* ================= DESKTOP ================= */

