@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;


.hero {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: t.$space-lg;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: t.$space-md;
  }

  &__title {
    font-size: t.$fs-heading-m;
    line-height: t.$lh-heading-l;
    font-weight: t.$fw-medium;
    text-align: center;
  }

  &__extra {
    display: none;
  }

  &__brand {
    display: block;
    font-size: t.$fs-heading-m;
    font-weight: t.$fw-bold;
  }

  &__text {
    display: none;
  }

  &__media {
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      display: block;
      max-width: 380px;
      margin-inline: auto;
    }
  }
}

/* ================= TABLET ================= */

@include m.breakpoint(tablet) {
  
  .hero {
    margin-top: t.$space-lg;
    background-image: url('/src/assets/img/home/background-mix.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
    &__inner {
      flex-direction: column;
      align-items: center;
      gap: t.$space-md;
      display: flex;
      text-align: center;
    }

    &__content {
      flex: unset;
      max-width: 720px;
    }

    &__media {
      display: none;
    }

    &__media img {
      max-width: 100%;
      margin-inline: 0;
    }

    &__title {
      font-size: t.$fs-heading-l;
      font-weight: t.$fw-medium;
    }
    
    &__text {
      display: block;
      font-size: t.$fs-body-l;
    }

    &__extra {
      display: inline;
    }

    &__brand {
      display: inline;    
      font-size: t.$fs-heading-l;
    }
  }
}


/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {



  .hero__media {
    order: 0;
  }

}