@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;


.page-hero {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: t.$space-md;


  &__title {
    font-size: t.$fs-heading-m;
    font-weight: t.$fw-bold;
    line-height: t.$lh-heading-l;
    margin-bottom: t.$space-md;
  }

  &__text {
    font-size: t.$fs-body-l;
    line-height: t.$lh-heading-m;
    max-width: 700px;
    margin-inline: auto;
  }

  &__extra {
    display: none;

  }

}




/* ================= TABLET ================= */

@include m.breakpoint(tablet) {

  .page-hero {
    
    &__extra {
      display: inline-block;
    }

    &__text {
      line-height: t.$lh-heading-l;
    }
  
  
  }

}


/* ================= TABLET HORIZONTAL ================= */

@include m.breakpoint(tablet-h) {

  .page-hero {
  
    &__inner {
      max-width: 1000px;
    }

    &__text {
      font-size: t.$fs-body-ml;
      max-width: 900px;
    }
  }

}


/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {
  
  .page-hero {
    max-width: 1100px;
    padding-top: t.$space-lg;

    &__inner {
      max-width: 1000px;
    }

    &__text {
      font-size: t.$fs-body-ml;
      max-width: 900px;
    }

  }
  
}

/* ================= DESKTOP XL ================= */

@include m.breakpoint(desktop-xl) {
  
  .page-hero {
    max-width: 1400px;

    &__title {
      font-size: t.$fs-heading-l;
    }

    &__inner {
      max-width: 1300px;
    }

    &__text {
      font-size: t.$fs-body-l;
      max-width: 1000px;
    }

  }
  
}