@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.footer {
  background-color: t.$color-background-secondary;
  color: t.$color-text-secondary;
  padding: t.$space-lg 0;
    text-align: center;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: t.$fs-heading-m;
  }

  &__text {
    max-width: 45ch;
    margin: 0 auto;
    font-size: t.$fs-body-l;
    line-height: t.$lh-body-l;
    color: t.$color-text-secondary;
  }
}

.footer .container {
  text-align: center;
}

