@use '../abstracts/tokens' as t;

.section {
  padding-block: t.$space-sm;
  
}

.section p {
  text-align: center;
}


@media (min-width: t.$bp-tablet) {
  .section {
    padding-block: calc(t.$space-xl * 1.5);
  }
}