@use '../abstracts/tokens' as t;
@use '../abstracts/mixins' as m;

.section {
  padding-block: t.$space-sm;
  
}

.section p {
  text-align: center;
}


/* ================= TABLET ================= */


@media (min-width: t.$bp-tablet) {
  .section {
    padding-block: calc(t.$space-xl * 1.5);
  }
}


/* ================= DESKTOP ================= */

@include m.breakpoint(desktop) {

  
}
